body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.hide{ display: none }
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;

    background-color: #f8f9fa; /* Cor de fundo diferenciada */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 8px; /* Arredondar cantos */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Espaçamento externo */
}

h1 {
    color: #333; /* Cor do título */
    font-size: 24px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

p {
    color: #555; /* Cor do texto */
    margin-bottom: 15px; /* Espaço abaixo do parágrafo */
}

table tfoot td {
    font-weight: bold; /* Destacar texto do restante */
    background-color: white; /* Fundo diferenciado */
    border: none;
}

.tab-container {
    margin: 20px 0;
}

.tab-header {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ddd;
}

.tab-header li {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f8f9fa;
    margin-right: 5px;
    border-radius: 8px 8px 0 0;
}

.tab-header li.active {
    background-color: #e9ecef;
    font-weight: bold;
    border-bottom: 2px solid #e9ecef;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 0 8px 8px 8px;
}

.table-no-line{
    border: none;
}

.marmitas-container table {
    max-width: 600px;
}
    