ndoctype html
html(ng-app="myApp")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Tabela de controle
		style.
			body{
				font-family: Arial, sans-serif;
			}
			.hide{ display: none }
			th, td {
				border: 1px solid #ddd;
				padding: 8px;
				text-align: left;
				text-align: center;
			}
			th {
				background-color: #f4f4f4;
				font-weight: bold;
			}

			table {
				border-collapse: collapse;
				width: 100%;
				margin: 20px 0;

				background-color: #f8f9fa; /* Cor de fundo diferenciada */
				border: 1px solid #ccc; /* Borda cinza clara */
				border-radius: 8px; /* Arredondar cantos */
				padding: 20px; /* Espaçamento interno */
				margin: 20px 0; /* Espaçamento externo */
				//- box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
			}

			h1 {
				color: #333; /* Cor do título */
				font-size: 24px; /* Tamanho da fonte */
				margin-bottom: 10px; /* Espaço abaixo do título */
			}

			p {
				color: #555; /* Cor do texto */
				margin-bottom: 15px; /* Espaço abaixo do parágrafo */
			}

			table tfoot {
				//- border: none;
				td {
					font-weight: bold; /* Destacar texto do restante */
					background-color: white; /* Fundo diferenciado */
					border: none;
				}
			}

			.tab-container {
				margin: 20px 0;
			}

			.tab-header {
				list-style: none;
				display: flex;
				margin: 0;
				padding: 0;
				border-bottom: 2px solid #ddd;
			}

			.tab-header li {
				padding: 10px 20px;
				cursor: pointer;
				border: 1px solid #ddd;
				border-bottom: none;
				background-color: #f8f9fa;
				margin-right: 5px;
				border-radius: 8px 8px 0 0;
			}

			.tab-header li.active {
				background-color: #e9ecef;
				font-weight: bold;
				border-bottom: 2px solid #e9ecef;
			}

			.tab-content {
				padding: 20px;
				border: 1px solid #ddd;
				background-color: #fff;
				border-radius: 0 8px 8px 8px;
			}

			.table-no-line{
				//- border-collapse: separate;
				//- border-spacing: 0 4px;
				border: none;
			}

			.marmitas-container{
				table {
					max-width: 600px;
				}
			}


	body(ng-controller="MainCtrl")
		div.tab-container
			ul.tab-header
				li(ng-click="setActiveTab(1)", ng-class="{active: isActiveTab(1)}") Nanny
				li(ng-click="setActiveTab(2)", ng-class="{active: isActiveTab(2)}") Marmitas

			div.tab-content
				div(ng-show="isActiveTab(1)")
					div.nanny-container
						h1 Nanny
						table.table-no-line
							thead
								tr
									th Data
									th Valor do Dólar
									th Valor/hora
									th Horas
									th Valor em Dólar
									th Valor em Reais
							tbody
								tr(ng-repeat="item in dollarData")
									//- td {{ (new Date(item.date)).toLocaleDateString('pt-BR') }}
									td {{ item.date }}
									td ${{ item.rate }}
									td ${{ item.hourValue }}
									td {{ item.hours }}
									td ${{ (item.hourValue * item.hours)| number:2 }}
									td R$ {{ (item.rate * item.hourValue * item.hours) | number:2 }}
							tfoot
								tr
									td 
									td 
									td 
									td 
									td 
									td R$ {{ totalReais() }} 
								//- tr
								//- 	td(colspan="6") TOTAL $ {{totalDollar()}}									
				div(ng-show="isActiveTab(2)")
					div.marmitas-container
						h1 Marmitas
						p Contratou 40 Marmitas
						table
							thead
								tr
									th Data
									th Entregue
							tbody
								tr(ng-repeat="item in marmitaData")
									td {{ item.date }}
									td {{ item.quantity }}
							tfoot
								tr
									td(colspan="2") Restante: {{ restante() }}


		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js")
		script.
			angular.module('myApp', [])
				.controller('MainCtrl', function($scope) {
					$scope.totalContratado = 40;
					$scope.activeTab = 1;

					$scope.setActiveTab = function(tabIndex) {
						$scope.activeTab = tabIndex;
					};

					$scope.isActiveTab = function(tabIndex) {
						return $scope.activeTab === tabIndex;
					};

					// Dados para o primeiro table de pagamentos
					$scope.dollarData = [
						{ date: '06/01', rate: 6.07, hourValue: 35, hours: 3   }, 
						{ date: '07/01', rate: 6.07, hourValue: 35, hours: 3   }, 
						{ date: '08/01', rate: 6.07, hourValue: 40, hours: 7   }, 
						{ date: '10/01', rate: 6.07, hourValue: 35, hours: 3   }, 
					];

					// Função para calcular o total em Reais
					$scope.totalReais = function() {
						const total = $scope.dollarData.reduce(function(acc, item) {
							return acc + (item.hourValue * item.hours * item.rate);
						}, 0);
						return total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
					};

					// Função para calcular o total em Dollar
					$scope.totalDollar = function() {
						const total = $scope.dollarData.reduce(function(acc, item) {
							return acc + (item.hourValue * item.hours);
						}, 0);
						return total.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
					};


					// Dados para o segundo table de marmitas
					$scope.marmitaData = [
						{ date: '04/12', quantity: 2, price: 14 }, //quarta-feira
						{ date: '05/12', quantity: 3, price: 14 }, //quinta-feira
						{ date: '09/12', quantity: 2, price: 14 }, //segunda-feira
						{ date: '10/12', quantity: 1, price: 14 }, //terça-feira
						{ date: '11/12', quantity: 2, price: 14 }, //quarta-feira
						{ date: '12/12', quantity: 1, price: 14 }, //quinta-feira
						{ date: '13/12', quantity: 2, price: 14 }, //sexta-feira

						{ date: '16/12', quantity: 2, price: 14 }, 
						{ date: '17/12', quantity: 1, price: 14 }, 
						{ date: '18/12', quantity: 1, price: 14 }, 
						{ date: '19/12', quantity: 2, price: 14 }, 
						{ date: '20/12', quantity: 2, price: 14 }, 

						{ date: '23/12', quantity: 2, price: 14 }, 
						{ date: '25/12', quantity: 1, price: 14 }, 
						{ date: '27/12', quantity: 2, price: 14 },  

						{ date: '30/12', quantity: 2, price: 14 }, 
						{ date: '02/01', quantity: 2, price: 14 }, 
						{ date: '03/01', quantity: 2, price: 14 },
						
						{ date: '06/01', quantity: 2, price: 14 }, 
						{ date: '07/01', quantity: 1, price: 14 }, 
						{ date: '08/01', quantity: 2, price: 14 }, 
						{ date: '10/01', quantity: 2, price: 14 }, 
						
					];

					$scope.totalEntregues = function() {
						return $scope.marmitaData.reduce((total, item) => total + item.quantity, 0);
					};

					$scope.restante = function() {
						return $scope.totalContratado - $scope.totalEntregues();
					};
				}); 
